{% extends "base.html" %}

{% block pagetitle %}Doclist {% endblock %}
{% block main %}
<h2>Documents: {{ header }}</h2>
{% if docs %}
<ul>
{% for doc in docs %}
<li><img src="{{doc.thumbnail}}" class="page_thumbnail" />
  <a href="{{doc.get_absolute_url}}">{{ doc.document_slug}}</a>. Number of pages {{ doc.page_count }}
  <p class="document_summary">{% if doc.document_summary %}{{ doc.document_summary|truncatewords:50}}{% else %}no page text for {{ doc.pk }}{% endif %}</p>
  </li>

{% endfor %}
</ul>
{% endif %}  
{% endblock %}
